function Main.main 4
push constant 2
call Array.new 1
pop local 0
push constant 2
call Array.new 1
pop local 1
push constant 2
call Array.new 1
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
push constant 3
call String.new 1
push constant 106
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 104
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push constant 2
push local 0
add
pop pointer 1
push that 0
add
call Output.printString 1
pop temp 0
push constant 0
not
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
